/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --ff-dm: "DM Sans", sans-serif;
  --ff-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-brand: #6624D0;
  --color-black: #0D0C0B;
  --bg-brand: #0A0B20;
}

/* Modern CSS3 Reset */
body {
  background: var(--bg-brand);
  font-family: var(--ff-dm);
  color: #fff;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5 p,
ul,
ol,
li,
form,
input,
button,
textarea,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-jakarta);
  margin-bottom: 0;
}

p {
  font-family: var(--ff-dm);
  margin-bottom: 0;
  line-height: 1.55;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove list styles on list elements */
ul,
ol {
  list-style: none;
}

/* Remove hyperlinks text decoration */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Reset input and textarea styles */
input,
textarea {
  outline: none;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  width: 100%;
  display: block;
}

/* default typography */
h1 {
  font-size: 80px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

.gx-4 {
  --bs-gutter-x: 30px;
}

.text-gray {
  color: #A5A7AC;
}

.text__body {
  color: #A5A7AC;
  line-height: 1.55;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .text__body {
    font-size: 14px;
  }
}

.section__title {
  padding-bottom: 55px;
}
.section__title h2 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1400px) {
  .section__title {
    padding-bottom: 40px;
  }
  .section__title h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  .section__title h2 {
    font-size: 34px;
  }
}

.highlighted-text {
  background-image: linear-gradient(122deg, #edb89c 0%, #7769e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: text-bg-animate 5s ease infinite;
}

/* ==================
cursor style start
==================*/
@media (min-width: 992px) {
  .cursor-dot,
  .cursor-dot-outline {
    z-index: 1100;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .cursor-dot {
    width: 8px;
    height: 8px;
    background-color: var(--color-brand);
  }
  .cursor-dot-outline {
    width: 30px;
    height: 30px;
    background-color: var(--color-brand);
    opacity: 0.5 !important;
  }
}
/* ==================
cursor style end
==================*/
/* ==================
Back To Top btn Start
==================*/
.back-top {
  cursor: pointer;
  position: fixed !important;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.3s ease-in-out;
  background: var(--color-brand);
  color: #fff;
  padding: 16px 0 12px 0;
  width: 40px;
  position: absolute;
}

.back-top.back-top-show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition: all 1s ease-in-out;
}

.back-top .scoll-text {
  writing-mode: vertical-rl;
  padding-left: 8px;
  font-size: 14px;
}

.back-top .scroll-line {
  width: 1px;
  height: 60px;
  overflow: hidden;
  margin: 0 0 10px 20px;
}

.back-top .scroll-line:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(180deg, #fff 50%, rgba(21, 175, 90, 0) 0);
  background-position: 0 -60px;
  background-size: 100% 200%;
  animation: backtop 5s cubic-bezier(0.76, 0, 0.3, 1) infinite forwards;
}
@keyframes backtop {
  from {
    background-position: 0 -60px;
  }
  75% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 60px;
  }
}
/* ==================
Back To Top btn End
==================*/
/* ==================
Custom Scrollbar
==================*/
/*header-defult*/
header .header-defult .main-nav ul li .sub-menu {
  box-shadow: rgba(12, 12, 50, 0.1) 0px 4px 10px, rgba(12, 12, 20, 0.02) 0px 8px 32px;
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  min-width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  opacity: 0;
  z-index: 9999;
  transform: scale(0);
  transform-origin: 0% 0%;
  transition: all 0.3s;
}
header .header-defult .main-nav ul li .sub-menu li .sub-menu {
  right: -200px;
  left: inherit;
  top: 0;
}
header .header-defult .main-nav ul li .sub-menu > li {
  display: block;
  margin: 0;
  position: relative;
}
header .header-defult .main-nav ul > li a:hover {
  background: transparent;
}
header .header-defult .main-nav .fl {
  width: 30px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #2d373c;
  font-style: normal;
  position: absolute;
  right: -5px;
  top: 0;
  z-index: 999;
  display: none;
  cursor: pointer;
}
header .header-defult .main-nav .fl:before {
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}
header .header-defult .main-nav > ul > li + li > .sub-menu {
  left: 15px;
}
header .header-defult .main-nav > ul > li:hover > .sub-menu {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
header .header-defult .main-nav ul li .sub-menu li:hover > .sub-menu,
header .header-defult .main-nav ul li .sub-menu li .sub-menu li:hover > .sub-menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
header .header-defult .main-nav ul {
  margin: 0;
  list-style: none;
}
header .header-defult .main-nav ul li {
  display: inline-block;
  position: relative;
  padding: 0 20px;
}
header .header-defult .main-nav ul li:last-child {
  padding-right: 0;
}
header .header-defult .main-nav ul li:hover > a {
  color: var(--color-brand);
}
header .header-defult .main-nav ul li:hover > a::before {
  opacity: 1;
  background: #f96822;
}
header .header-defult .main-nav ul li a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 30.5px 0;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
header .header-defult .main-nav ul li ul.sub-menu > li {
  padding: 0;
}
header .header-defult .main-nav ul li ul.sub-menu > li a {
  display: block;
  padding: 15px 10px;
  color: #162b32;
  line-height: 1;
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
header .header-defult .main-nav ul li ul.sub-menu > li a.active {
  color: #f96822;
  font-weight: 600;
}
header .header-defult .main-nav ul li ul.sub-menu > li a:hover {
  background: transparent;
  color: var(--primary-purple) !important;
  transform: translateX(10px);
}
header .header-defult .main-nav ul li ul.sub-menu > li a:hover::before {
  opacity: 0;
}
header .header-defult .main-nav ul li.has-child-menu:after {
  position: absolute;
  right: 0;
  color: var(--text-bright-gray);
  font-family: bootstrap-icons !important;
  content: "\f282";
  font-size: 13px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  top: 36px;
  transition: all 0.5s ease-in-out;
}
header .header-defult .main-nav ul li:hover.has-child-menu:after {
  transform: rotate(-180deg);
}
header .header-defult .main-nav > ul > li > a.active {
  color: #f96822;
  font-weight: 600;
  font-size: 16px;
}
header .header-defult .nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header-defult .nav-right a {
  margin-right: 24px;
}
header .header-defult .nav-right a:last-child {
  margin-right: 0;
}

header .header-defult {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header-area {
  transition: all 0.3s;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  padding: 0;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  background: rgba(10, 11, 32, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.v-dark.header-area.sticky {
  background: rgba(13, 12, 11, 0.9);
}

header .header-defult.sticky .main-nav ul li a {
  padding: 18.5px 0;
}

header .header-defult.sticky .main-nav ul li.has-child-menu:after {
  top: 22px;
}

@media only screen and (max-width: 1199px) {
  header .header-defult .hamburger {
    display: block !important;
    position: relative;
    width: 28px !important;
    height: 22px !important;
    margin: 8px 0;
    cursor: pointer;
    border: 3px solid transparent !important;
    float: right;
  }
  header .header-defult .hamburger:focus {
    border: 3px solid transparent !important;
  }
  header .header-defult .hamburger span {
    width: 100%;
    height: 1px;
    background: #fff !important;
    display: block;
    position: absolute;
    right: 0;
    transition: all 0.3s;
  }
  header .header-defult .hamburger span.h-top {
    top: 0;
  }
  header .header-defult .hamburger span.h-bottom {
    bottom: 0;
    width: 100%;
  }
  header .header-defult .hamburger span.h-middle {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  header .header-defult .hamburger.h-active span {
    width: 80%;
  }
  header .header-defult .hamburger.h-active span.h-top {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
  }
  header .header-defult .hamburger.h-active span.h-middle {
    transform: translateX(-30px);
    opacity: 0;
  }
  header .header-defult .hamburger.h-active span.h-bottom {
    transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  header .header-defult .main-nav ul li ul.sub-menu > li a::before {
    position: absolute;
    width: 4px !important;
    height: 4px;
    content: "";
    background-color: #F55837;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  header .header-defult .main-nav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    padding: 10px 15px !important;
    z-index: 99999;
    min-height: 100vh !important;
    overflow: auto;
    background: #fff;
    transform: translateX(-260px);
    transition: transform 0.3s ease-in;
  }
  header .header-defult .main-nav > ul > li > a {
    font-size: 16px !important;
    color: #2D373C !important;
    line-height: 35px;
    margin: 10px 0;
  }
  header .header-defult .main-nav ul li a {
    padding: 0 !important;
  }
  header .header-defult .main-nav ul li a::before {
    bottom: 0rem !important;
  }
  header .header-defult .main-nav ul > li a.active::before {
    opacity: 1 !important;
  }
  header .header-defult .main-nav ul > li a:hover {
    background: transparent;
  }
  header .header-defult .main-nav > ul > li.has-child-menu:after {
    display: none !important;
  }
  header .header-defult .main-nav.slidenav {
    transform: translateX(0);
  }
  header .header-defult .main-nav > ul {
    float: none;
    padding: 25px 10px 25px 0;
    margin-top: 40px !important;
  }
  header .header-defult .main-nav > ul > li {
    display: block;
    padding: 0;
    margin-left: 0;
  }
  header .header-defult .main-nav > ul > li.has-child-menu:after,
  header .header-defult .main-nav > ul > li > a:after {
    content: none;
  }
  header .header-defult .main-nav > ul > li a {
    font-size: 16px;
    color: #fff;
    line-height: 35px;
  }
  header .header-defult .main-nav ul li .fl {
    display: block;
    line-height: 35px;
  }
  header .header-defult .main-nav ul li .sub-menu {
    position: static;
    min-width: 200px;
    background: transparent;
    border: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: none;
    transition: none;
    display: none;
  }
  header .header-defult .main-nav ul li .sub-menu > li a {
    display: block;
    padding: 10px 0;
    color: #707070;
    border: none;
    line-height: 0.8;
    font-size: 14px;
    text-decoration: none;
    padding-left: 18px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: all 0.3s;
  }
  header .header-defult li a.active {
    color: #ddd;
    font-weight: 600;
    font-size: 1.5rem;
  }
  header .header-defult li a.active::before {
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    opacity: 0 !important;
    transition: all 200ms linear;
  }
  header .header-defult .main-nav ul li {
    display: block;
    position: relative;
    padding: 0 20px;
  }
  .mobile-menu {
    padding: 0 7px;
    margin: 10px 0;
  }
  .single-feature-style-two .float-screen-two {
    left: 0;
    top: 10%;
  }
}
.has-child-menu .has-child-menu::after {
  top: 15px !important;
  right: 10px !important;
}
@media screen and (max-width: 1200px) {
  .has-child-menu .has-child-menu::after {
    display: none;
  }
}

/*commpon components*/
.btn__primary {
  display: inline-flex;
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #6624D0;
  box-shadow: 4px 5px 0px 0px rgba(102, 36, 208, 0.25);
}
@media screen and (max-width: 1200px) {
  .btn__primary {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .btn__primary {
    font-size: 14px;
    padding: 12px 30px;
  }
}

/*Hero Style*/
.hero__style {
  background: url(../images/bg//hero-bg.png) no-repeat center;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .hero__style {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}

.hero__content {
  text-align: center;
}
.hero__content h1 {
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
@media screen and (max-width: 1200px) {
  .hero__content h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 992px) {
  .hero__content h1 {
    font-size: 48px;
    line-height: 120%;
  }
}
@media screen and (max-width: 576px) {
  .hero__content h1 {
    font-size: 38px;
  }
}
.hero__content h1 span {
  background-image: linear-gradient(122deg, #edb89c 0%, #7769e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: text-bg-animate 5s ease infinite;
}
.hero__content .hero-disc {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .hero__content .hero-disc {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .hero__content .hero-disc {
    font-size: 14px;
  }
}
.hero__content .btn__primary {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .hero__content .hero-disc {
    padding-top: 20px;
  }
  .hero__content .btn__primary {
    margin-top: 30px;
  }
}

@keyframes text-bg-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.hero-circle {
  position: absolute;
  max-width: 80%;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
  transition: 1.5s all ease;
}

.animated .lines {
  opacity: 1;
}

.line-container {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}

.animated-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  animation: moveLine 3s linear infinite;
}

@keyframes moveLine {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@media (max-width: 767px) {
  @keyframes moveLine {
    0% {
      left: -60%;
    }
    100% {
      left: 100%;
    }
  }
}
.line-container:nth-child(1) {
  position: absolute;
  top: 21%;
  left: 0;
  transform: rotate(90deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(1) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(1) {
    top: 15%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(1) {
    top: 30%;
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(1) {
    top: 35%;
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(1) {
    top: 40%;
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(1) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(1) {
    display: none;
  }
}
.line-container:nth-child(2) {
  position: absolute;
  top: 21%;
  left: 4.5%;
  transform: rotate(75deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(2) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(2) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(2) {
    top: 30%;
    transform: rotate(78deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(2) {
    top: 35%;
    transform: rotate(81deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(2) {
    top: 40%;
    transform: rotate(84deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(2) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(2) {
    display: none;
  }
}
.line-container:nth-child(3) {
  position: absolute;
  top: 21%;
  right: 4.5%;
  transform: rotate(105deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(3) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(3) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(3) {
    top: 30%;
    transform: rotate(102deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(3) {
    top: 35%;
    transform: rotate(99deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(3) {
    top: 40%;
    transform: rotate(96deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(3) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(3) {
    display: none;
  }
}
.line-container:nth-child(4) {
  position: absolute;
  top: 21%;
  left: 9.5%;
  transform: rotate(60deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(4) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(4) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(4) {
    top: 30%;
    transform: rotate(65deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(4) {
    top: 35%;
    transform: rotate(72deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(4) {
    top: 40%;
    transform: rotate(78deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(4) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(4) {
    display: none;
  }
}
.line-container:nth-child(5) {
  position: absolute;
  top: 21%;
  right: 9.5%;
  transform: rotate(120deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(5) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(5) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(5) {
    top: 30%;
    transform: rotate(115deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(5) {
    top: 35%;
    transform: rotate(108deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(5) {
    top: 40%;
    transform: rotate(102deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(5) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(5) {
    display: none;
  }
}
.line-container:nth-child(6) {
  position: absolute;
  top: 21%;
  left: 15.8%;
  transform: rotate(45deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(6) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(6) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(6) {
    top: 30%;
    transform: rotate(52deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(6) {
    top: 35%;
    transform: rotate(62deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(6) {
    top: 40%;
    transform: rotate(70deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(6) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(6) {
    display: none;
  }
}
.line-container:nth-child(7) {
  position: absolute;
  top: 21%;
  right: 15.8%;
  transform: rotate(135deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(7) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(7) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(7) {
    top: 30%;
    transform: rotate(128deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(7) {
    top: 35%;
    transform: rotate(118deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(7) {
    top: 40%;
    transform: rotate(110deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(7) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(7) {
    display: none;
  }
}
.line-container:nth-child(8) {
  position: absolute;
  top: 21%;
  left: 25%;
  transform: rotate(30deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(8) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(8) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(8) {
    top: 30%;
    transform: rotate(39deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(8) {
    top: 35%;
    transform: rotate(50deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(8) {
    top: 40%;
    transform: rotate(59deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(8) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(8) {
    display: none;
  }
}
.line-container:nth-child(9) {
  position: absolute;
  top: 21%;
  right: 25%;
  transform: rotate(150deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(9) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(9) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(9) {
    top: 30%;
    transform: rotate(141deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(9) {
    top: 35%;
    transform: rotate(130deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(9) {
    top: 40%;
    transform: rotate(121deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(9) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(9) {
    display: none;
  }
}
.line-container:nth-child(10) {
  position: absolute;
  top: 21%;
  left: 48.5%;
  transform: rotate(15deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(10) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(10) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(10) {
    top: 30%;
    transform: rotate(22deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(10) {
    top: 35%;
    left: 43%;
    transform: rotate(34deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(10) {
    top: 40%;
    left: 36%;
    transform: rotate(49deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(10) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(10) {
    display: none;
  }
}
.line-container:nth-child(10) .animated-line {
  animation-delay: 0.5s;
}

@media (max-width: 990px) {
  .line-container:nth-child(10) .animated-line {
    top: 35%;
    animation-delay: 0s;
  }
}
.line-container:nth-child(11) {
  position: absolute;
  top: 21%;
  right: 48.5%;
  transform: rotate(165deg);
}

@media (max-width: 1679px) {
  .line-container:nth-child(11) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .line-container:nth-child(11) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .line-container:nth-child(11) {
    top: 30%;
    transform: rotate(158deg);
  }
}
@media (max-width: 990px) {
  .line-container:nth-child(11) {
    top: 35%;
    right: 43%;
    transform: rotate(146deg);
  }
}
@media (max-width: 767px) {
  .line-container:nth-child(11) {
    top: 40%;
    right: 36%;
    transform: rotate(131deg);
  }
}
@media (max-width: 479px) {
  .line-container:nth-child(11) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .line-container:nth-child(11) {
    display: none;
  }
}
.line-container:nth-child(11) .animated-line {
  animation-delay: 0.5s;
}

@media (max-width: 990px) {
  .line-container:nth-child(11) .animated-line {
    animation-delay: 0s;
  }
}
/*feature style*/
.feature__card {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: #111337;
  padding: 44px 34px;
  padding-bottom: 40px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s;
}
.feature__card .ft__icon img {
  max-width: 100px;
  transition: all 0.25s;
}
.feature__card .ft__content {
  padding-top: 28px;
}
.feature__card .ft__content h4 {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}
.feature__card .ft__content p {
  margin-top: 20px;
}
.feature__card:hover {
  background: #1A1D52;
}
.feature__card:hover .ft__icon img {
  transform: rotate3d(1, 1, 1, 360deg);
}
@media screen and (max-width: 992px) {
  .feature__card {
    padding: 38px 28px;
    padding-bottom: 34px;
  }
  .feature__card .ft__icon img {
    max-width: 75px;
  }
  .feature__card .ft__content {
    padding-top: 24px;
  }
  .feature__card .ft__content h4 {
    font-size: 22px;
  }
  .feature__card .ft__content p {
    margin-top: 16px;
  }
}
@media screen and (max-width: 768px) {
  .feature__card .ft__content h4 {
    font-size: 20px;
  }
}

/*footer style*/
.footer__style {
  padding-top: 100px;
  margin-top: 100px;
  background: rgba(150, 147, 147, 0.1019607843);
}

.footer__weiget h5 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 28px;
}
@media screen and (max-width: 992px) {
  .footer__weiget h5 {
    padding-bottom: 18px;
    font-size: 16px;
  }
}

.footer-title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .footer-title {
    padding-bottom: 18px;
    font-size: 16px;
  }
}

.footer__about {
  max-width: 300px;
}

.footer_link__list li {
  padding-top: 12px;
}
@media screen and (max-width: 992px) {
  .footer_link__list li {
    padding-top: 10px;
  }
}
.footer_link__list li a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #A5A7AC;
  transition: all 0.2s;
}
.footer_link__list li a:hover {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .footer_link__list li a {
    font-size: 14px;
  }
}
.footer_link__list.emails li a {
  padding-bottom: 2px;
  position: relative;
}
.footer_link__list.emails li a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: #A5A7AC;
}
.footer_link__list.emails li a.footer-phone-no {
  font-size: 18px;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 2px;
  position: relative;
}
.footer_link__list.emails li a.footer-phone-no::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: #A5A7AC;
}

.footer-main {
  padding-bottom: 80px;
}

.copyright-wrap {
  padding: 30px 0;
  color: #A5A7AC;
  border-top: 1px solid rgba(106, 90, 205, 0.2117647059);
  font-weight: 500;
  font-size: 14px;
}
.copyright-wrap span {
  color: #fff;
}

.test-wrap {
  padding-top: 180px;
}

.single-question {
  padding-top: 40px;
}
.single-question label {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}

.question__wrap .single-question {
  padding-top: 40px;
  text-align: center;
  max-width: 500px;
  border-bottom: 1px solid rgba(35, 116, 255, 0.4);
  padding-bottom: 20px;
}
.question__wrap .single-question:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.question__wrap .single-question > label {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: start;
  margin-bottom: 10px;
}
.question__wrap .single-question > span {
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #2374FF;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-bottom: 8px;
  color: #fff;
}
.question__wrap .single-question > input {
  margin-top: 10px;
}

.test-scrollbar {
  border-radius: 100px;
  height: 10px;
  background: rgba(35, 116, 255, 0.3);
}
.test-scrollbar .swiper-scrollbar-drag {
  background: #2374FF;
}

.slider-btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #2374ff;
  transition: all 0.25s;
}
.slider-btn:hover {
  background: #2374ff;
  color: #fff;
}
.slider-btn.test-submit {
  background: #2374ff;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.slide-content {
  padding-bottom: 100px;
}

.input_group__primary input{
    height: 46px;
    border-radius: 4px;
    padding: 8px 20px;
    background: #1E293B;
    color: #fff;
    border: 1px solid transparent;
    width: 100%
}
.input_group__primary input:focus{
    border: 1px solid #2374FF;
}

.input_group__primary select{
     height: 46px;
    border-radius: 4px;
    padding: 8px 20px;
    background: #1E293B;
    color: #fff;
    border: 1px solid transparent;
    width: 100%
}

.input_group__primary label{
    font-size: 14px;
    font-weight: 500;
    color: #A5A7AC;
    display: block;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

}
.input_group__primary label span{
}
.padding-box{
    padding: 50px 50px;
    border: 1px solid rgba(71,85,105,.4);
    border-radius: 12px;
    background: #0F172A;


}
.questions-box.padding-box{
    padding-bottom: 10px;
}

.global-subtitle{
    font-size: 28px;
    font-weight: 600;
    max-width: 680px;
    line-height: 1.5;
    margin: 0 auto;
}
.meter-scale{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 6px;
    color: #A5A7AC;
}

.meter-scale > span{
    position: relative;
}
.meter-scale > span::after{
   position: absolute;
  content:"";
  display: inline-block;
  left: 50%;
  bottom: 0;
  transform: translateY(101%);
  width: 1px;
  height: 4px;
  background: #A5A7AC;
}


.result__style{
    padding-top: 180px;
}
.result__wrap h1{
    font-size: 80px;
    font-weight: 700;
}
.result__wrap h4{

}

.result__wrap{}

.result-btn{
    display: inline-flex;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    background: #6624D0;
    border-radius: 6px;
        border: 1px solid #6624d0;
        transition: all .25s;
}
.inline-btn.result-btn{

    background: transparent;
    color: White;
}
.inline-btn.result-btn:hover{
        background: #6624D0;
}


@media screen and (max-width: 992px){
    .global-subtitle{
        font-size: 20px;
        font-weight: 600;
    }

    .padding-box{
        padding: 25px
    }

    .result__wrap h1{
        font-size: 48px;
    }
}

/*later added css*/
.details__wrapper {
  padding-top: 140px;
}

.details__header {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(71, 85, 105, 0.4);
  border-radius: 12px;
  background: #0F172A;
}

.text-xxl {
  font-size: 80px;
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .text-xxl {
    font-size: 68px;
  }
}

@media screen and (max-width: 992px) {
  .text-xxl {
    font-size: 48px;
  }
}

@media screen and (max-width: 576px) {
  .text-xxl {
    font-size: 38px;
  }
}

.dh__content {
  padding: 40px;
}

.dh__content h4 {
  font-size: 24px;
  text-transform: capitalize;
}

.scroll-arrow {
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  animation: arrow-wave 1s infinite;
  animation-direction: alternate;
}

.scroll-arrow:nth-child(1) {
  animation-delay: 0.1s;
}

.scroll-arrow:nth-child(2) {
  animation-delay: 0.2s;
}

.scroll-arrow:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.details-body {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
}

.details-body .disc__section {
  padding-top: 80px;
}

.details-body .pt-slot-gap {
  padding-top: 35px;
}

.details-body .disc-header-lg {
  font-weight: bold;
  font-size: 34px;
  text-transform: capitalize;
  padding-bottom: 14px;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.details-body .disc-header-sm {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
}

.details-body P {
  font-size: 18px;
  padding-top: 20px;
  color: #d6d9df;
}

.details-body .link {
  text-decoration: underline;
}

.details-body ul {
  list-style-type: disc;
  padding-left: 40px;
  line-height: 1.6;
  font-size: 18px;
  color: #d6d9df;
}

.details-body ul li {
  padding-top: 10px;
}

@media screen and (max-width: 1400px) {
  .details-body p, .details-body ul {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .details-body p, .details-body ul {
    font-size: 14px;
  }
  .details-body .pt-slot-gap {
    padding-top: 30px;
  }
  .details-body ul {
    padding-left: 30px;
  }
  .details-body .disc-header-lg {
    font-size: 26px;
  }

  .message__wrap{
    height: 44px;
    width: 44px;
  }
}

.idea__box {
  padding: 20px;
  border: 1px solid rgba(71, 85, 105, 0.4);
  border-radius: 12px;
  background: #0F172A;
  font-size: 18px;
  line-height: 1.6;
  color: #d6d9df;
  margin-top: 14px;
}

.idea__box strong {
  color: #edb89c;
}

.novel__characters {
  padding-top: 80px;
  margin-top: 80px;
  background: linear-gradient(180deg, #0f172a 0%, #0a0b20 100%);
}

.section__title h3 {
  color: #FFF;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 1400px) {
  .section__title {
    padding-bottom: 40px;
  }
  .section__title h3 {
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  .section__title h3 {
    font-size: 30px;
  }
}

.character-box .cara-content h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}


.message__wrap{
    display: inline-flex;
    height: 55px;
    width: 55px;
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 20;
}
.message__wrap img{
    width: 100%;
}

.preloader {
  background-color: black;
  position: fixed;
  z-index: 1190;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.v-dark.preloader {
  background-color: #0D0C0B;
}

.preloader .preloader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-item p {
  color: rgba(13, 12, 11, 0.6);
  font-weight: 500;
  font-size: 14px;
}

.v-dark .preloader-item p {
  color: rgba(255, 255, 255, 0.7);
}

.spinner-grow {
  color: var(--color-brand);
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}