<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Discover your true personality type from just a few questions with our free online personality assessment. We'll reveal which of the 16 Myers & Briggs personality types best describes you.">
    <meta name="keywords"
          content="tags goes here">
    <!-- page title -->
    <title>Ada Lovelace - Discover Your Personality Type</title>
    <!-- favicon -->

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/ada.png') }}">
    <!-- additional css files -->

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">


    <!-- custom css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
</head>


<body>

<div class="preloader animate__animated animate__fadeOut">
    <!--        <div class="preloader-item">-->
    <!--            <div class="spinner-grow"></div>-->
    <!--            <p class="mt-3">Loading... Because pixels need their beauty sleep too!</p>-->
    <!--        </div>-->
    <div id="preloader">
        <div id="loader"></div>
    </div>
</div>

<!-- ===============  header area start =============== -->
<header>
    <div class="header-area header-defult">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-12 align-items-center d-xl-flex d-lg-block">
                    <div class="nav-logo d-flex justify-content-between align-items-center">

                        <a href="\"><img
                                src="{{ url_for('static', filename='assets/images/AL-logo-wht.png') }}" alt="logo"></a>

                        <div class="d-flex align-items-center gap-4">
                            <div class="mobile-menu d-flex ">
                                <a href="javascript:void(0)" class="hamburger d-block d-xl-none">
                                    <span class="h-top"></span>
                                    <span class="h-middle"></span>
                                    <span class="h-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <nav class="main-nav float-end">
                        <div class="inner-logo d-xl-none text-center">
                            <a href="#"><img src="{{ url_for('static', filename='assets/images/AL-logo-wht.png') }}"
                                             alt=""></a>
                        </div>
                        <ul class="navigation">
                            <!-- <li class="has-child-menu">
                                <a href="javascript:void(0)">Home</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home Style 1</a></li>
                                    <li><a href="index-2.html">Home Style 2</a></li>
                                    <li class="has-child-menu">
                                        <a href="javascript:void(0)">Home</a>
                                        <i class="fl flaticon-plus">+</i>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home Style 1</a></li>
                                            <li><a href="index-2.html">Home Style 2</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li> -->
                            <li><a href="\" class="section-link">Home</a></li>
                            <li><a href="\about" class="section-link">About</a></li>
                            <li><a href="\types" class="section-link">Personality Types</a></li>
                            <li><a href="\faq" class="section-link">FAQ</a></li>
                            <li><a href="\contacts" class="section-link">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ===============  header area end =============== -->


{% block main %}
{% endblock %}


<a href="#" class="message__wrap">
    <img src="{{ url_for('static', filename='assets/images/icons/message.png') }}" alt="">
</a>

<footer class="footer__style">
    <div class="container">
        <div class="footer-main">
            <div class="row gy-4 gx-4">
                <div class="col-lg-4">
                    <div class="footer__about">
                        <a href="#">
                            <img src="{{ url_for('static', filename='assets/images/AL-logo-wht.png') }}" alt="logo">
                        </a>
                        <h5 class="footer-title mt-lg-5 mt-4">About AdaLovelace</h5>
                        <p class="text__body mt-3">Welcome! Discover the essence of
                            individuality with Ada Lovelace Personality Detector, translating human personality nuances
                            into actionable insights for individuals, businesses, and researchers.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row gy-4 gx-4">
                        <div class="col-md-4">
                            <div class="footer__weiget">
                                <h5>Contact Info</h5>
                                <ul class="footer__contact">
                                    <ul class="footer_link__list emails">
                                        <li><a href="#">example@email.com</a></li>
                                        <li><a href="#">info@email.com</a></li>
                                        <li><a href="#" class="footer-phone-no">+00816123456789</a></li>
                                    </ul>
                                </ul
                                <a href="678"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="footer__weiget">
                                <h5>Important Links</h5>
                                <ul class="footer_link__list">
                                    <li><a href="\about">About Us</a></li>
                                    <li><a href="\types">Personality Types</a></li>
                                    <li><a href="\faq">FAQ</a></li>
                                    <li><a href="contacts">Contacts</a></li>
                                    <li><a href="#">Pages</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="footer__weiget">
                                <h5>Get In Touch</h5>
                                <ul class="footer_link__list">
                                    <li>
                                        <a href="#">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-facebook">
                                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                            </svg>

                                            Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-twitter">
                                                <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                            </svg>

                                            Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-instagram">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                            </svg>

                                            Instagram
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap text-center">
            <p>Made with 🤍 by <span>Ada Lovelace Team</span></p>
        </div>
    </div>
</footer>


<!-- ============= Custom Cursor ============= -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>


<!-- additional JS file -->

<script src="{{ url_for('static', filename='assets/js/jquery-3.6.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>


<!-- custom js file -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


<script type="text/javascript">
    function rangeSlide(id, value) {
        document.getElementById(id).innerHTML = value;
    }

    var swiper = new Swiper(".test__slider", {
        allowTouchMove: false,
        navigation: {
            nextEl: ".test-button-next",
            prevEl: ".test-button-prev",
        },
        scrollbar: {
            el: ".test-scrollbar",
            hide: false,
        },
        });
</script>

</body>

</html>