{% extends 'base.html' %}
{% block main %}


<!-- ===============  Hero Style Start=============== -->

<div class="hero__style">
    <div class="lines">
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
        <div class="line-container">
            <div class="animated-line"></div>
        </div>
    </div>
    <img class="hero-circle" src="{{ url_for('static', filename='assets/images/bg/hero-circle.png') }}" alt="">
    <div class="container">
        <div class="hero__content">
            <div class="row justify-content-center">
                <div class="col-xxl-10 col-xl-11">
                    <img src="{{ url_for('static', filename='assets/images/character.png') }}" alt="" width="230px">
                    <h1 class="pt-2"><span>Discover</span> Your Personality Type with
                        <span>Ada Lovelace</span></h1>
                    <p class="text-gray hero-disc">Beyond the Surface: Navigate the Depths of You</p>

                    <a href="{{ url_for('test') }}" class="btn__primary">Take a Test <span>⚡</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============  Hero Style End=============== -->

<!-- ===============  Features =============== -->
<div class="feature__style pt-5">
    <div class="container">
        <div class="text-center section__title">
            <h2>Amazing <span class="highlighted-text">Features</span></h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 gx-4 gy-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature__card">
                    <div class="ft__icon">
                        <img src="{{ url_for('static', filename='assets/images/icons/ai.png') }}" alt="icons">
                    </div>
                    <div class="ft__content">
                        <h4>Ai Integrated</h4>
                        <p class="text__body">Lorem ipsum is placeholder text commonly used in the graphic, print, and
                            publishing industries for previewing layouts and visual mockups.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 gx-4 gy-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature__card">
                    <div class="ft__icon">
                        <img src="{{ url_for('static', filename='assets/images/icons/energy.png') }}" alt="icons">
                    </div>
                    <div class="ft__content">
                        <h4>Pinpoint Accuracy</h4>
                        <p class="text__body">Lorem ipsum is placeholder text commonly used in the graphic, print, and
                            publishing industries for previewing layouts and visual mockups.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 gx-4 gy-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature__card">
                    <a href="\types" class="section-link">
                        <div class="ft__icon">
                            <img src="{{ url_for('static', filename='assets/images/icons/personality.png') }}"
                                 alt="icons">
                        </div>
                        <div class="ft__content">
                            <h4>Personality Reports</h4>
                            <p class="text__body">A personality report offers insights into an individual's behavioral
                                tendencies and characteristics, aiding in personal growth, interpersonal dynamics, and
                                decision-making.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============  Features =============== -->


{% endblock %}