{% extends 'base.html' %}
{% block main %}

<!-- details wrapper -->

<div class="details__wrapper">
    <div class="container">

        <!-- Details Header -->
        <div class="details__header">
            <div class="row">
                <div class="col-lg-4">
                    <div class="dh__image">
                        <img src="{{ url_for('static', filename='assets/images/character/t5-nu.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="dh__content text-center">
                        <h4 class="text-gray mb-2">personality details</h4>
                        <h1 class="highlighted-text text-xxl text-uppercase">Neuroticism</h1>

                        <div class="pt-5">
                            <p class="pb-2 text__body">Scroll To Know More</p>
                            <a href="#dBody" class="d-flex flex-column justify-content-center align-items-center">
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- details body -->

        <div class="details-body" id="dBody">
            <div class="disc__section">
                <h3 class="disc-header-lg">
                    What is Neuroticism?
                </h3>
                <p class="text__body">individual's tendency to experience negative emotions such as anxiety, moodiness,
                    and vulnerability to stress. Those scoring high in neuroticism often exhibit emotional instability,
                    being more prone to feelings of worry, fear, and frustration. This trait reflects the extent to
                    which an individual reacts emotionally to stressors, and it can influence how one copes with
                    challenges and perceives life events. Neurotic individuals may find it more challenging to maintain
                    emotional equilibrium in the face of adversity and may experience heightened levels of emotional
                    distress even in response to minor setbacks.
                    <br><br>
                    Conversely, individuals with lower levels of neuroticism tend to be more emotionally stable and
                    resilient in the face of stressors. They are less likely to be easily upset, and their emotional
                    responses are often more measured and consistent. Understanding neuroticism provides valuable
                    insights into an individual's emotional reactivity, coping mechanisms, and overall emotional
                    well-being in different life situations.
                </p>

                <h4 class="disc-header-sm pt-slot-gap pb-1">
                    characteristics of Neuroticism
                </h4>
                <ul class="text-gray">
                    <li>Neurotic individuals often experience higher levels of anxiety, worrying more frequently and
                        intensely about potential negative outcomes.
                    </li>
                    <li>Emotional instability is a hallmark, with neurotic individuals displaying mood swings and
                        heightened emotional reactivity to various situations.
                    </li>
                    <li>It is associated with increased vulnerability to stressors, as individuals with high neuroticism
                        may find it challenging to cope with and recover from stressful events.
                    </li>
                    <li>Neurotic individuals may be more prone to feelings of guilt, sadness, and general
                        dissatisfaction, even in situations where others might not perceive significant negative
                        outcomes.
                    </li>
                    <li>High neuroticism is linked to heightened emotional reactivity, leading to more intense emotional
                        responses to both positive and negative life events.
                    </li>
                </ul>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Strengths & Weaknesses of Neuroticism
                </h3>

                <h5 class="disc-header-sm pt-slot-gap pb-1">Strengths: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Heightened Sensitivity:</strong> Individuals high in neuroticism may possess heightened
                    sensitivity and awareness of emotional nuances, allowing them to empathize more deeply with others'
                    emotional experiences.
                </div>
                <div class="idea__box pt-3">
                    <strong>Proactive Problem Solving:</strong> The emotional intensity associated with neuroticism can
                    drive individuals to engage in proactive problem-solving, addressing challenges and stressors
                    head-on to mitigate potential negative outcomes.
                </div>
                <div class="idea__box pt-3">
                    <strong>Risk Awareness:</strong> Neurotic individuals may demonstrate a heightened awareness of
                    potential risks and threats, leading to a cautious approach in decision-making and a thorough
                    consideration of potential consequences.
                </div>


                <h5 class="disc-header-sm pt-slot-gap pb-1 pt-5">Weaknesses: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Emotional Turbulence:</strong> The heightened emotional reactivity in neurotic individuals
                    may lead to emotional turbulence, making it challenging to maintain emotional stability and
                    composure in the face of stressors.
                </div>
                <div class="idea__box pt-3">
                    <strong>Impact on Interpersonal Relationships:</strong> Neuroticism may pose challenges in
                    interpersonal relationships, as the moodiness and emotional intensity can lead to conflicts and
                    strain, particularly if others find it difficult to navigate the individual's emotional
                    fluctuations.
                </div>
                <div class="idea__box pt-3">
                    <strong>Stress Susceptibility:</strong> The vulnerability to stress associated with neuroticism can
                    result in increased susceptibility to the negative health effects of chronic stress, potentially
                    impacting overall well-being.
                </div>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Personality Color
                </h3>
                <div class="idea__box pt-3 text-center">
                    <h4><b>
                        <nu>Ash</nu>
                    </b></h4>
                </div>
            </div>

        </div>

    </div>

    <div class="novel__characters">
        <div class="container">
            <div class="text-center section__title text-capitalize">
                <h3>famous Neuroticism you may know.</h3>
            </div>
            <div class="row px-4 pt-4 justify-content-center">
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}