{% extends 'base.html' %}
{% block main %}

<!-- details wrapper -->

<div class="details__wrapper">
    <div class="container">

        <!-- Details Header -->
        <div class="details__header">
            <div class="row">
                <div class="col-lg-4">
                    <div class="dh__image">
                        <img src="{{ url_for('static', filename='assets/images/character/t4-ag.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="dh__content text-center">
                        <h4 class="text-gray mb-2">personality details</h4>
                        <h1 class="highlighted-text text-xxl text-uppercase">agreeableness</h1>

                        <div class="pt-5">
                            <p class="pb-2 text__body">Scroll To Know More</p>
                            <a href="#dBody" class="d-flex flex-column justify-content-center align-items-center">
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- details body -->

        <div class="details-body" id="dBody">
            <div class="disc__section">
                <h3 class="disc-header-lg">
                    What is agreeableness?
                </h3>
                <p class="text__body">Agreeableness, a fundamental dimension in the Five-Factor Model of personality,
                    encapsulates an individual's disposition towards interpersonal relationships and cooperation.
                    Individuals who score high in agreeableness are characterized by their warmth, empathy, and
                    altruism. They are often cooperative, considerate of others' needs, and adept at fostering positive
                    social interactions. People with high agreeableness traits tend to prioritize harmony in
                    relationships, engaging in empathetic and supportive behaviors that contribute to the well-being of
                    those around them. This trait is associated with qualities such as kindness, patience, and a
                    proclivity for collaboration, making individuals high in agreeableness valued contributors to social
                    cohesion and teamwork.
                    <br><br>
                    Conversely, individuals with lower levels of agreeableness may exhibit a more assertive and
                    competitive approach in social situations. They may prioritize their own goals and interests over
                    the maintenance of social harmony, leading to a more straightforward and sometimes challenging
                    interpersonal style. While agreeableness provides valuable insights into how individuals navigate
                    social dynamics, it is essential to recognize that personality is multifaceted, and people express a
                    range of traits that contribute to their unique patterns of behavior and interaction with others.
                </p>

                <h4 class="disc-header-sm pt-slot-gap pb-1">
                    characteristics of agreeableness
                </h4>
                <ul class="text-gray">
                    <li>Individuals high in agreeableness tend to be cooperative, willingly collaborating with others
                        and valuing teamwork.
                    </li>
                    <li>High levels of empathy are a hallmark of agreeableness, as individuals with this trait are often
                        attuned to the emotions and needs of those around them.
                    </li>
                    <li>Agreeable individuals demonstrate a strong sense of compassion, showing genuine concern for the
                        well-being of others and readily offering support.
                    </li>
                    <li>Prioritizing positive social interactions, individuals high in agreeableness seek to maintain
                        harmony in relationships and avoid conflict whenever possible.
                    </li>
                    <li>Consideration for others is a key characteristic, reflecting a willingness to compromise,
                        accommodate differing perspectives, and prioritize the needs of the group over individual
                        desires.
                    </li>
                </ul>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Strengths & Weaknesses of agreeableness
                </h3>

                <h5 class="disc-header-sm pt-slot-gap pb-1">Strengths: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Effective Teamwork:</strong> Individuals high in agreeableness excel in collaborative
                    settings, contributing to effective teamwork by fostering positive relationships and promoting a
                    harmonious working environment.
                </div>
                <div class="idea__box pt-3">
                    <strong>Interpersonal Sensitivity:</strong> The high level of empathy associated with agreeableness
                    enables individuals to navigate social interactions with sensitivity, understanding the emotions of
                    others and responding empathetically.
                </div>
                <div class="idea__box pt-3">
                    <strong>Conflict Resolution:</strong> Agreeable individuals are skilled at resolving conflicts
                    diplomatically, utilizing their cooperative nature to find compromises and maintain a peaceful
                    social atmosphere.
                </div>


                <h5 class="disc-header-sm pt-slot-gap pb-1 pt-5">Weaknesses: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Difficulty Saying "No":</strong> A common weakness is a tendency to have difficulty saying
                    "no," potentially leading to overcommitment as individuals with high agreeableness may prioritize
                    others' needs over their own.
                </div>
                <div class="idea__box pt-3">
                    <strong>Avoidance of Confrontation:</strong> The strong desire to maintain harmony may result in a
                    reluctance to confront difficult issues, potentially hindering assertiveness and the ability to
                    address challenging situations directly.
                </div>
                <div class="idea__box pt-3">
                    <strong>Risk of Exploitation:</strong> Extremely agreeable individuals may be susceptible to
                    exploitation or manipulation by others who take advantage of their cooperative nature, potentially
                    leading to unbalanced relationships.
                </div>
            </div>
            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Personality Color
                </h3>
                <div class="idea__box pt-3 text-center">
                    <h4><b><ag>Pink</ag></b></h4>
                </div>
            </div>

        </div>

    </div>

    <div class="novel__characters">
        <div class="container">
            <div class="text-center section__title text-capitalize">
                <h3>famous agreeableness you may know.</h3>
            </div>
            <div class="row px-4 pt-4 justify-content-center">
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}