{% extends 'base.html' %}
{% block main %}


<div class="result__style">

    <div class="container">
        <div class="result__wrap padding-box text-center align-items-center">

            <h4 class="mb-5 ">These Are The Big 5 Personality Traits in <b><span class="highlighted-text">OCEAN</span></b> Model</h4>

            <div class="mt-3 mh-100">
                <a href="{{ url_for('type1') }}" class="btn__types">Type- 01: Openness </a>
            </div>
            <div class="mt-3 ">
                <a href="{{ url_for('type2') }}" class="btn__types">Type- 02: Conscientiousness </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('type3') }}" class="btn__types">Type- 03: Extraversion </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('type4') }}" class="btn__types">Type- 04: Agreeableness </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('type5') }}" class="btn__types">Type- 05: Neuroticism</a>
            </div>

            <div class="d-flex gap-4 justify-content-center pt-5 align-items-center flex-wrap">
                <a href="{{ url_for('test') }}" class="result-btn inline-btn">Take Test</a>
            </div>

        </div>
    </div>

</div>


{% endblock %}