{% extends 'base.html' %}
{% block main %}

<!-- details wrapper -->

    <div class="details__wrapper">
        <div class="container">

            <!-- Details Header -->
            <div class="details__header">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dh__image">
                            <img src="{{ url_for('static', filename='assets/images/character/agreeableness.jpg') }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-center justify-content-center">
                        <div class="dh__content text-center">
                            <h4 class="text-gray mb-2">personality details</h4>
                            <h1 class="highlighted-text text-xxl text-uppercase">agreeableness</h1>

                            <div class="pt-5">
                                <p class="pb-2 text__body">Scroll To Know More</p>
                                <a href="#dBody" class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="scroll-arrow"></div>
                                    <div class="scroll-arrow"></div>
                                    <div class="scroll-arrow"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- details body -->

            <div class="details-body" id="dBody">
                <div class="disc__section">
                    <h3 class="disc-header-lg">
                        What is agreeableness?
                    </h3>
                    <p class="text__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet maxime libero
                        soluta nihil quis molestiae asperiores, tempora vero saepe deserunt alias recusandae nemo, ipsam
                        sint harum eius nam unde temporibus minima dolore. Asperiores adipisci doloribus, vero hic
                        sapiente rerum quod quos, explicabo unde, ullam beatae commodi. Placeat obcaecati dolores porro
                        vitae vero similique laboriosam voluptatem
                        <br><br>
                        rem tempora quidem magni numquam minima ipsa! Reiciendis qui eaque, unde laboriosam modi animi
                        odio quae facilis quibusdam omnis quisquam inventore et molestiae porro ad hic totam nisi
                        commodi optio nihil aperiam vitae ducimus repellat? Harum corrupti quasi cumque fugit omnis
                        delectus ullam, error aperiam.
                    </p>

                    <h5 class="disc-header-sm pt-slot-gap pb-1">
                        characteristics of agreeableness
                    </h5>
                    <ul class="text-gray">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ducimus.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ducimus.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ducimus.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ducimus.</li>
                    </ul>
                </div>

                <div class="disc__section">
                    <h3 class="disc-header-lg">
                        Strengths & Weaknesses of agreeableness
                    </h3>
                    <h5></h5>

                    <h5 class="disc-header-sm pt-slot-gap pb-1">Strengths : </h5>

                    <div class="image-box pt-3">
                        <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                    </div>

                    <div class="idea__box pt-3">
                        <strong>Rational</strong> – Architects pride themselves on the power of their minds. They can
                        reframe nearly any challenge as an opportunity to hone their rational thinking skills and expand
                        their knowledge – and with this mindset, they can devise inventive solutions to even the most ar
                    </div>
                    <div class="idea__box pt-3">
                        <strong>Rational</strong> – Architects pride themselves on the power of their minds. They can
                        reframe nearly any challenge as an opportunity to hone their rational thinking skills and expand
                        their knowledge – and with this mindset, they can devise inventive solutions to even the most ar
                    </div>
                    <div class="idea__box pt-3">
                        <strong>Rational</strong> – Architects pride themselves on the power of their minds. They can
                        reframe nearly any challenge as an opportunity to hone their rational thinking skills and expand
                        their knowledge – and with this mindset, they can devise inventive solutions to even the most ar
                    </div>


                    <h5 class="disc-header-sm pt-slot-gap pb-1 pt-5">Weaknesses : </h5>

                    <div class="image-box pt-3">
                        <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                    </div>

                    <div class="idea__box pt-3">
                        <strong>Rational</strong> – Architects pride themselves on the power of their minds. They can
                        reframe nearly any challenge as an opportunity to hone their rational thinking skills and expand
                        their knowledge – and with this mindset, they can devise inventive solutions to even the most ar
                    </div>
                    <div class="idea__box pt-3">
                        <strong>Rational</strong> – Architects pride themselves on the power of their minds. They can
                        reframe nearly any challenge as an opportunity to hone their rational thinking skills and expand
                        their knowledge – and with this mindset, they can devise inventive solutions to even the most ar
                    </div>
                    <div class="idea__box pt-3">
                        <strong>Rational</strong> – Architects pride themselves on the power of their minds. They can
                        reframe nearly any challenge as an opportunity to hone their rational thinking skills and expand
                        their knowledge – and with this mindset, they can devise inventive solutions to even the most ar
                    </div>
                </div>
            </div>

        </div>

        <div class="novel__characters">
            <div class="container">
                <div class="text-center section__title text-capitalize">
                    <h3>famous agreeableness you may know.</h3>
                </div>
                <div class="row px-4 pt-4 justify-content-center">
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}