{% extends 'base.html' %}
{% block main %}

<!-- details wrapper -->

<div class="details__wrapper">
    <div class="container">

        <!-- Details Header -->
        <div class="details__header">
            <div class="row">
                <div class="col-lg-3">
                    <div class="dh__image">
                        <img src="{{ url_for('static', filename='assets/images/character/t2-cns.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-9 d-flex align-items-center justify-content-center">
                    <div class="dh__content text-center">
                        <h4 class="text-gray mb-2">personality details</h4>
                        <h1 class="highlighted-text text-xxl text-uppercase">Conscientiousness</h1>

                        <div class="pt-5">
                            <p class="pb-2 text__body">Scroll To Know More</p>
                            <a href="#dBody" class="d-flex flex-column justify-content-center align-items-center">
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- details body -->

        <div class="details-body" id="dBody">
            <div class="disc__section">
                <h3 class="disc-header-lg">
                    What is Conscientiousness?
                </h3>
                <p class="text__body">Conscientiousness is a key personality trait within the Five-Factor Model,
                    reflecting an individual's degree of organization, responsibility, and reliability in goal-directed
                    behavior. Individuals who score high in conscientiousness are characterized by their disciplined
                    approach to tasks, attention to detail, and commitment to meeting obligations. This trait
                    encompasses qualities such as diligence, orderliness, and a strong sense of duty, making
                    conscientious individuals dependable contributors in both personal and professional settings.
                    Conscientiousness is often associated with effective time management, goal achievement, and a
                    proactive orientation towards responsibilities, highlighting its significance in understanding how
                    individuals navigate and succeed in various life domains.
                    <br><br>
                    Conversely, individuals with lower levels of conscientiousness may exhibit a more relaxed and
                    spontaneous approach to tasks, potentially struggling with maintaining order, meeting deadlines, or
                    sustaining long-term commitments. This personality trait plays a crucial role in shaping an
                    individual's work ethic, reliability, and overall effectiveness in managing responsibilities and
                    tasks across different aspects of life.
                </p>

                <h4 class="disc-header-sm pt-slot-gap pb-1">
                    characteristics of Conscientiousness
                </h4>
                <ul class="text-gray">
                    <li>Individuals are characterized by a strong work ethic, demonstrating diligence and a persistent
                        effort to achieve their goals.
                    </li>
                    <li>High levels of conscientiousness are associated with organizational skills, as individuals tend
                        to maintain order and structure in both their personal and professional lives.
                    </li>
                    <li>Conscientious individuals are reliable and trustworthy, fulfilling their commitments and
                        responsibilities consistently, which contributes to effective teamwork and interpersonal
                        relationships.
                    </li>
                    <li>Individuals with conscientious traits are goal-oriented, setting clear objectives and working
                        systematically towards their achievement, often demonstrating a strong sense of purpose.
                    </li>
                    <li>Conscientiousness is linked to effective time management, as individuals prioritize tasks, plan
                        efficiently, and allocate resources wisely to meet deadlines and obligations.
                    </li>
                </ul>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Strengths & Weaknesses of Conscientiousness
                </h3>

                <h5 class="disc-header-sm pt-slot-gap pb-1">Strengths: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Reliability in Responsibilities:</strong> Conscientious individuals are highly reliable,
                    consistently meeting obligations and responsibilities, contributing to effective and dependable
                    performance in both personal and professional realms.
                </div>
                <div class="idea__box pt-3">
                    <strong>Efficient Time Management:</strong> The strong organizational skills associated with
                    conscientiousness translate into efficient time management, allowing individuals to prioritize tasks
                    effectively and achieve goals in a timely manner.
                </div>
                <div class="idea__box pt-3">
                    <strong>Goal Achievement:</strong> Goal orientation is a key strength, as conscientious individuals
                    exhibit a determined and systematic approach to achieving their objectives, contributing to a high
                    likelihood of successful goal attainment.
                </div>


                <h5 class="disc-header-sm pt-slot-gap pb-1 pt-5">Weaknesses: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Overemphasis on Detail:</strong> Individuals with high conscientiousness may face challenges
                    by overemphasizing details, potentially leading to perfectionism or spending excessive time on minor
                    aspects of tasks.
                </div>
                <div class="idea__box pt-3">
                    <strong>Rigidity in Adapting to Change:</strong> A potential weakness is a tendency towards
                    rigidity, where overly conscientious individuals may struggle to adapt to unexpected changes,
                    preferring familiar routines and plans.
                </div>
                <div class="idea__box pt-3">
                    <strong>Stress Due to High Standards:</strong> The pursuit of high standards may lead to stress, as
                    conscientious individuals set demanding expectations for themselves, sometimes experiencing pressure
                    to consistently meet or exceed these standards.
                </div>

                <div class="disc__section">
                    <h3 class="disc-header-lg">
                        Personality Color
                    </h3>
                    <div class="idea__box pt-3 text-center">
                        <h4><b>
                            <cns>Green</cns>
                        </b></h4>
                    </div>
                </div>

            </div>

        </div>

        <div class="novel__characters">
            <div class="container">
                <div class="text-center section__title text-capitalize">
                    <h3>famous Conscientiousness you may know.</h3>
                </div>
                <div class="row px-4 pt-4 justify-content-center">
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="character-box text-center">
                            <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                            <div class="cara-content pt-3">
                                <h5>Arya Stark</h5>
                                <p class="text__body text-capitalize pt-2">game of thrones</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}