{% extends 'base.html' %}
{% block main %}

<!-- details wrapper -->

<div class="details__wrapper">
    <div class="container">

        <!-- Details Header -->
        <div class="details__header">
            <div class="row">
                <div class="col-lg-4">
                    <div class="dh__image">
                        <img src="{{ url_for('static', filename='assets/images/character/t1-op.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="dh__content text-center">
                        <h4 class="text-gray mb-2">personality details</h4>
                        <h1 class="highlighted-text text-xxl text-uppercase">Openness</h1>

                        <div class="pt-5">
                            <p class="pb-2 text__body">Scroll To Know More</p>
                            <a href="#dBody" class="d-flex flex-column justify-content-center align-items-center">
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- details body -->

        <div class="details-body" id="dBody">
            <div class="disc__section">
                <h3 class="disc-header-lg">
                    What is openness?
                </h3>
                <p class="text__body">Openness is one of the five major personality traits in the Five-Factor Model,
                    representing an individual's inclination towards novelty, imagination, and a willingness to engage
                    with new and diverse experiences. Those scoring high in openness tend to be curious, creative, and
                    open-minded, demonstrating a keen interest in exploring unconventional ideas and embracing a variety
                    of perspectives. This trait reflects an individual's receptivity to art, culture, and intellectual
                    pursuits, making them more likely to seek out new challenges, ideas, and forms of expression.
                    <br><br>
                    Conversely, individuals with lower levels of openness may exhibit a more conventional and pragmatic
                    approach, preferring familiar routines and established ways of thinking. Openness is a key dimension
                    that contributes to the richness and diversity of human personalities, influencing how individuals
                    engage with the world around them and approach intellectual, artistic, and experiential aspects of
                    life.
                </p>

                <h4 class="disc-header-sm pt-slot-gap pb-1">
                    characteristics of openness
                </h4>
                <ul class="text-gray">
                    <li>High levels of openness are associated with a strong sense of curiosity, as individuals with
                        this trait are eager to explore new ideas, concepts, and experiences.
                    </li>
                    <li>Openness is linked to creativity, with individuals displaying a heightened ability to think
                        outside conventional boundaries, generate novel solutions, and engage in imaginative endeavors.
                    </li>
                    <li>Individuals high in openness tend to be intellectually engaged, showing a proclivity for deep
                        thinking, philosophical reflection, and a willingness to grapple with complex ideas.
                    </li>
                    <li>Open individuals often have a heightened appreciation for art, beauty, and aesthetics, showing a
                        tendency to seek out and value diverse forms of artistic expression.
                    </li>
                    <li>It is associated with adaptability and a willingness to embrace change. Individuals with this
                        trait are generally more flexible in their thinking and more accepting of unconventional or
                        evolving circumstances.
                    </li>
                </ul>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Strengths & Weaknesses of openness
                </h3>

                <h5 class="disc-header-sm pt-slot-gap pb-1">Strengths: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Creativity and Innovation:</strong> Individuals high in openness often excel in creative
                    pursuits and innovation, bringing fresh perspectives and generating novel solutions to problems.
                </div>
                <div class="idea__box pt-3">
                    <strong>Intellectual Flexibility:</strong> Openness fosters intellectual flexibility, enabling
                    individuals to adapt to new ideas, information, and changing circumstances with a curiosity-driven
                    and open-minded approach.
                </div>
                <div class="idea__box pt-3">
                    <strong>Appreciation for Diversity:</strong> Open individuals tend to appreciate and embrace
                    diversity, fostering inclusive environments by valuing different perspectives, cultures, and forms
                    of expression.
                </div>


                <h5 class="disc-header-sm pt-slot-gap pb-1 pt-5">Weaknesses: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Overwhelmed by Choices:</strong> The abundance of possibilities and ideas associated with
                    high openness may lead to indecision and feeling overwhelmed, making it challenging to commit to
                    specific choices.
                </div>
                <div class="idea__box pt-3">
                    <strong>Difficulty with Routine Tasks:</strong> Individuals with high openness may struggle with
                    routine and mundane tasks, as they may find them unstimulating or uninteresting compared to more
                    novel and engaging pursuits.
                </div>
                <div class="idea__box pt-3">
                    <strong>Resistance to Tradition:</strong> Excessive openness might lead to a resistance or
                    disinterest in traditional values or established norms, potentially causing friction in situations
                    where adherence to tradition is valued.
                </div>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Personality Color
                </h3>
                <div class="idea__box pt-3 text-center">
                    <h4><b>
                        <op>Purple</op>
                    </b></h4>
                </div>
            </div>

        </div>

    </div>

    <div class="novel__characters">
        <div class="container">
            <div class="text-center section__title text-capitalize">
                <h3>famous Openness you may know.</h3>
            </div>
            <div class="row px-4 pt-4 justify-content-center">
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}