{% extends 'base.html' %}
{% block main %}

<!-- details wrapper -->

<div class="details__wrapper">
    <div class="container">

        <!-- Details Header -->
        <div class="details__header">
            <div class="row">
                <div class="col-lg-4">
                    <div class="dh__image">
                        <img src="{{ url_for('static', filename='assets/images/character/t3-ex.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="dh__content text-center">
                        <h4 class="text-gray mb-2">personality details</h4>
                        <h1 class="highlighted-text text-xxl text-uppercase">Extraversion</h1>

                        <div class="pt-5">
                            <p class="pb-2 text__body">Scroll To Know More</p>
                            <a href="#dBody" class="d-flex flex-column justify-content-center align-items-center">
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                                <div class="scroll-arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- details body -->

        <div class="details-body" id="dBody">
            <div class="disc__section">
                <h3 class="disc-header-lg">
                    What is Extraversion?
                </h3>
                <p class="text__body">Extraversion, a central dimension in the Five-Factor Model of personality,
                    captures the extent to which individuals are outgoing, sociable, and energized by external stimuli.
                    Those scoring high in extraversion exhibit a natural proclivity for social interactions, finding
                    fulfillment and energy through engagement with others. This trait encompasses qualities such as
                    assertiveness, talkativeness, and a preference for activities involving socializing, making
                    extraverts more likely to seek out and enjoy dynamic and stimulating environments. Extraversion is
                    not solely about sociability; it also reflects an individual's tendency to express positive
                    emotions, approach new experiences with enthusiasm, and navigate the external world with an open and
                    engaging demeanor.
                    <br><br>
                    Conversely, individuals with lower levels of extraversion, often categorized as introverts, may lean
                    towards quieter, more reflective activities. While introverts may still enjoy social interactions,
                    they are more likely to find solitude rejuvenating and may exhibit a preference for depth in
                    one-on-one conversations over large social gatherings. Extraversion contributes significantly to
                    understanding variations in interpersonal dynamics, communication styles, and how individuals
                    recharge and find fulfillment in different social contexts.
                </p>

                <h4 class="disc-header-sm pt-slot-gap pb-1">
                    characteristics of Extraversion
                </h4>
                <ul class="text-gray">
                    <li>Extraverts are characterized by a natural inclination towards social interactions, finding
                        enjoyment and energy in the company of others.
                    </li>
                    <li>High levels of extraversion are associated with assertiveness, as individuals are more likely to
                        express their opinions, take the lead in social situations, and actively engage in discussions.
                    </li>
                    <li>Extraverts tend to be energetic and lively, approaching activities with enthusiasm and
                        demonstrating a preference for dynamic and stimulating environments.
                    </li>
                    <li>A key characteristic is the expression of positive emotions, with extraverts often displaying
                        optimism, cheerfulness, and a generally positive outlook on life.
                    </li>
                    <li>Extraverts typically exhibit a willingness to explore and embrace new experiences, seeking
                        variety and excitement in their activities and interactions.
                    </li>
                </ul>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Strengths & Weaknesses of Extraversion
                </h3>

                <h5 class="disc-header-sm pt-slot-gap pb-1">Strengths: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Effective Communication:</strong> Extraverts excel in communication, readily expressing
                    thoughts and ideas, fostering open dialogue, and contributing positively to team dynamics.
                </div>
                <div class="idea__box pt-3">
                    <strong>Enthusiasm in Team Settings:</strong> In group settings, extraverts bring energy and
                    enthusiasm, often serving as motivators and catalysts for collaborative efforts, which can enhance
                    overall team morale.
                </div>
                <div class="idea__box pt-3">
                    <strong>Adaptability to Social Environments:</strong> Extraverts are generally adaptable to diverse
                    social environments, making it easier for them to navigate various social situations and build
                    connections with a wide range of individuals.
                </div>


                <h5 class="disc-header-sm pt-slot-gap pb-1 pt-5">Weaknesses: </h5>

                <div class="image-box pt-3">
                    <img src="{{ url_for('static', filename='assets/images/character/sad.svg') }}" alt="">
                </div>

                <div class="idea__box pt-3">
                    <strong>Potential for Overstimulation:</strong> The sociable and energetic nature of extraverts may
                    lead to overstimulation in certain situations, where excessive external stimuli can be overwhelming,
                    potentially affecting focus and well-being.
                </div>
                <div class="idea__box pt-3">
                    <strong>Risk of Impulsivity:</strong> The high-energy and spontaneous nature of extraverts may lead
                    to a risk of impulsivity, as they may be more prone to making quick decisions without thoroughly
                    considering potential consequences.
                </div>
                <div class="idea__box pt-3">
                    <strong>Preference for External Validation:</strong> There can be a reliance on external validation,
                    as extraverts may seek affirmation and approval from others, which, if excessive, may impact their
                    sense of self-worth and decision-making.
                </div>
            </div>

            <div class="disc__section">
                <h3 class="disc-header-lg">
                    Personality Color
                </h3>
                <div class="idea__box pt-3 text-center">
                    <h4><b>
                        <ex>Red</ex>
                    </b></h4>
                </div>
            </div>

        </div>

    </div>

    <div class="novel__characters">
        <div class="container">
            <div class="text-center section__title text-capitalize">
                <h3>famous Extraversion you may know.</h3>
            </div>
            <div class="row px-4 pt-4 justify-content-center">
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="character-box text-center">
                        <img src="{{ url_for('static', filename='assets/images/character/arya.svg') }}" alt="">

                        <div class="cara-content pt-3">
                            <h5>Arya Stark</h5>
                            <p class="text__body text-capitalize pt-2">game of thrones</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}